body {
  overflow-x: hidden;
}

.content__width {
  width: 1170px;
  margin: 0 auto;
}

.cursor:hover {
  cursor: pointer;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

header {
  width: 100%;
  height: 130px;
}

.header__icon {
  display: block;
  position: relative;
  width: 100%;
  height: 30px;
  font-size: 12px;
  background-color: #f5f7fa;
}

.header__icon:before, .header__icon:after {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 9999px;
  background: #f5f7fa;
  content: "";
}

.header__icon:before {
  right: 100%;
}

.header__icon:after {
  left: 100%;
}

.header__icon__inner {
  display: inline-block;
  margin: 0 26px 0 0;
  font-size: 12px;
  height: 30px;
  vertical-align: middle;
  color: #506a85;
}

.header__icon__inner p {
  line-height: 30px;
}

.header__icon__inner p img {
  display: inline-block;
  margin: 0 7px 0 0;
  vertical-align: middle;
}

.header__icon__inner:hover img {
  visibility: hidden;
}

.header__icon__mail:hover {
  background-color: transparent;
  background: url("../img/header/icon-mail-on.png") no-repeat;
  background-position-y: 8.8px;
  color: #00bc9c;
}

.header__icon__tel:hover {
  background-color: transparent;
  background: url("../img/header/icon-tel-on.png") no-repeat;
  background-position-y: 8.8px;
  color: #00bc9c;
}

.sns {
  display: inline-block;
  position: absolute;
  height: 30px;
  right: 0;
}

.sns li {
  display: inline-block;
  width: 35px;
  height: 30px;
  text-align: center;
}

.sns img {
  margin-top: 10px;
}

.sns li:hover img {
  visibility: hidden;
}

.facebook:hover {
  background-image: url("../img/header/icon-facebook-on.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #4668b3;
}

.google:hover {
  background-image: url("../img/header/icon-google-on.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #de5745;
}

.twitter img {
  margin-top: 11.5px;
}

.twitter:hover {
  background-image: url("../img/header/icon-twitter-on.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2fbbed;
}

.pinterest:hover {
  background-image: url("../img/header/icon-pinterest-on.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #d94348;
}

.behance img {
  margin-top: 11.5px;
}

.behance:hover {
  background-image: url("../img/header/icon-behance-on.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #3079ff;
}

.dribbble:hover {
  background-image: url("../img/header/icon-dribbble-on.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #eb6397;
}

.header__logo {
  width: 100%;
  height: 100px;
  font-size: 15px;
  line-height: 130px;
}

.header__logo img:hover {
  opacity: 0.6;
  cursor: pointer;
}

.navigation {
  float: right;
  line-height: 100px;
  margin-right: 165px;
}

.navigation li {
  display: inline-block;
  margin-right: 44px;
  font-size: 15px;
}

.navigation li:hover {
  color: #00bc9c;
  cursor: pointer;
}

.keyvisual {
  width: 100%;
  padding: 300px 0 300px 0;
  background-image: url("file:///Users/Apple/desktop/gizumo/ys_reen/img/main/keyvisual.jpg");
}

h1 {
  margin-bottom: 20px;
  font-size: 78px;
  color: white;
  text-align: center;
}

.keyvisual__text {
  margin-bottom: 50px;
  color: #a3b1bf;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
}

.keyvisual-btn__wrap {
  text-align: center;
}

.keyvisual-btn {
  padding: 15px 35px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  background-color: #00bc9c;
  box-shadow: 0 4px 0 #00a085;
  cursor: pointer;
  outline: 0;
}

.keyvisual-btn:active {
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  transition: .3s;
  border-bottom: none;
  box-shadow: none;
}

.BCR {
  padding: 120px 0 120px 0;
}

h2 {
  margin-bottom: 30px;
  font-size: 44px;
  color: #506a85;
  text-align: center;
}

.BCR__text {
  margin-bottom: 70px;
  font-size: 22px;
  line-height: 33px;
  color: #506a85;
  text-align: center;
}

.BCR__images {
  width: 100%;
}

.BCR__images figure {
  float: left;
  width: 33.333%;
}

.BCR__images img {
  float: left;
  margin-right: 20px;
}

h3 {
  margin-bottom: 20px;
  font-size: 26px;
  color: #506a85;
}

.BCR__images p {
  line-height: 25px;
  overflow: auto;
  color: #506a85;
  font-size: 16px;
}

.works {
  background: #f5f7fa;
  padding: 120px 0 120px 0;
}

.works__images__main figcaption {
  display: table-cell;
  width: 570px;
  height: 80px;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  vertical-align: middle;
  color: #506a85;
  background-color: white;
}

.works__images__main figcaption:first-line {
  font-size: 20px;
}

.works__images__main:hover figcaption:first-line {
  color: #00bc9c;
}

.works__images__main {
  display: inline-block;
  width: 570px;
  margin-bottom: 80px;
}

.works-imgs__margin-right {
  margin-right: 15px;
}

.works-imgs__margin-left {
  margin-left: 15px;
}

.works__images__main__img {
  position: relative;
  width: 570px;
  height: 390px;
  background-color: #00bc9c;
}

.works__images__main__img p {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 570px;
  height: 390px;
  top: 0;
  text-align: center;
  color: white;
  opacity: 0;
}

.works__images__main:hover .works__images__main__img img {
  opacity: 0.1;
}

.works__images__main:hover .works__images__main__img p {
  opacity: 1;
}

.works__images__sub {
  display: inline-block;
  width: 270px;
}

.works__images__sub__img {
  position: relative;
  width: 270px;
  height: 185px;
  background-color: #00bc9c;
}

.works__images__sub__img p {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 270px;
  height: 185px;
  top: 0;
  text-align: center;
  color: white;
  opacity: 0;
}

.works__images__sub:hover .works__images__sub__img img {
  opacity: 0.1;
}

.works__images__sub:hover .works__images__sub__img p {
  opacity: 1;
}

.recruit {
  width: 100%;
  padding: 120px 0 120px 0;
}

.recruit-btn__wrap {
  text-align: center;
}

.recruit-btn {
  padding: 15px 35px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  background-color: #00bc9c;
  box-shadow: 0 4px 0 #00a085;
  cursor: pointer;
  outline: 0;
}

.recruit-btn:active {
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  transition: .3s;
  border-bottom: none;
  box-shadow: none;
}

.footer__content__wrap {
  position: relative;
  padding: 75px 0 75px 0;
  background: #354859;
}

.footer__content__wrap:before, .footer__content__wrap:after {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 9999px;
  background: #354859;
  content: "";
}

.footer__content__wrap:before {
  right: 100%;
}

.footer__content__wrap:after {
  left: 100%;
}

.footer__content {
  display: inline-block;
  vertical-align: top;
}

.footer__content__margin-right {
  margin-right: 20px;
}

.footer__content__margin-left {
  margin-left: 20px;
}

h4 {
  margin-bottom: 30px;
  color: white;
}

.footer__content__text {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: .2px;
  color: #a3b1bf;
  overflow: auto;
  margin: 20px 0;
}

.arrow {
  font-size: 14px;
  color: #a3b1bf;
}

.footer__images {
  position: relative;
  display: inline-block;
  width: 125px;
  height: 85px;
  background-color: #00bc9c;
}

.footer__images p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  width: 125px;
  height: 85px;
  top: 0;
  text-align: center;
  line-height: 20px;
  color: white;
  opacity: 0;
}

.footer__images:hover img {
  opacity: 0.1;
}

.footer__images:hover p {
  opacity: 1;
}

.footer__images:hover {
  cursor: pointer;
}

.footer__images__margin-right {
  margin-right: 5px;
}

.footer__images__margin-bottom {
  margin-bottom: 4px;
}

.footer__icon {
  display: inline-block;
  margin-right: 5px;
}

.footer__icon__text {
  display: inline-block;
  font-size: 14px;
  color: #506a85;
}

.footer__address {
  margin: 0 23px 0 0;
  font-size: 14px;
  height: 23px;
  vertical-align: middle;
  color: #a3b1bf;
}

.footer__address p {
  line-height: 30px;
}

.footer__address p img {
  display: inline-block;
  margin: 0 7px 0 0;
  vertical-align: middle;
}

.footer__address:hover {
  background-color: transparent;
  color: #00bc9c;
  cursor: pointer;
}

.footer__address:hover img {
  visibility: hidden;
}

.icon-address:hover {
  background: url("../img/footer/icon-address-on.png") no-repeat;
  background-position-y: 9.5px;
}

.icon-tel:hover {
  background: url("../img/footer/icon-tel-on.png") no-repeat;
  background-position-y: 9.5px;
}

.icon-mail:hover {
  background: url("../img/footer/icon-mail-on.png") no-repeat;
  background-position-y: 9.5px;
}

.footer__form {
  width: 157px;
  height: 25px;
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: rgba(93,110,125,0.3);
}

input::-webkit-input-placeholder {
  font-size: 14px;
  color: rgb(169.175.175);
}

.footer-btn__wrap {
  position: relative;
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 0 4px 4px 0;
  background-color: rgba(93,110,125,0.3);
  top: -35px;
  left: 167px;
}

.footer-btn {
  padding: 4px 9px;
  border: none;
  margin-top: 3px;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  background-color: #00bc9c;
  box-shadow: 0 4px 0 #00a085;
  cursor: pointer;
  outline: 0;
}

.footer-btn:active {
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  transition: .3s;
  border-bottom: none;
  box-shadow: none;
}

.footer__bottom__wrap {
  position: relative;
  background: #2e3d4c;
  padding: 30px 0 30px 0;
}

.footer__bottom__wrap:before, .footer__bottom__wrap:after {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 9999px;
  background: #2e3d4c;
  content: "";
}

.footer__bottom__wrap:before {
  right: 100%;
}

.footer__bottom__wrap:after {
  left: 100%;
}

.footer__bottom__wrap p {
  font-size: 14px;
  color: #a3b1bf;
}

.footer__navigation li {
  display: inline-block;
  list-style-type: disc;
}

.footer__nav__txt:hover {
  cursor: pointer;
  color: #00bc9c;
}

.footer__navigation {
  float: right;
  margin-top: -14px;
  font-size: 14px;
  color: #a3b1bf;
}