body {
  overflow-x: hidden;
  background-color: #f5f7fa;
  color: #506a85;
}

.content__width {
  width: 1170px;
  margin: 0 auto;
}

.conversion__color:hover {
  color: #00bc9c;
  cursor: pointer;
}

.cursor:hover {
  cursor: pointer;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

.hover__visibility:hover img {
  visibility: hidden;
}

.txt__position {
  text-align: center;
}

.background__white {
  background-color: white;
}

.list__set-up > li {
  display: inline-block;
}

header {
  width: 100%;
}

.header__content {
  height: 30px;
  font-size: 12px;
}

.header__content__inner {
  display: inline-block;
  margin-right: 26px;
  height: 30px;
}

.header__icon {
  line-height: 30px;
}

.header__icon__img {
  margin-right: 7px;
  vertical-align: middle;
}

.header__mail:hover {
  background: url("../img/header/icon-mail-on.png") no-repeat;
}

.header__tel:hover {
  background: url("../img/header/icon-tel-on.png") no-repeat;
}

.header__content__inner:hover {
  background-color: transparent;
  background-position-y: 8.8px;
}

.sns {
  float: right;
  height: 30px;
}

.sns__icon__wrap > li {
  display: inline-block;
  width: 35px;
  height: 30px;
  text-align: center;
}

.sns__imgs {
  margin-top: 10px;
}

.fb:hover {
  background: url("../img/header/icon-facebook-on.png") no-repeat;
  background-color: #4668b3;
}

.google:hover {
  background: url("../img/header/icon-google-on.png") no-repeat;
  background-color: #de5745;
}

.twitter:hover {
  background: url("../img/header/icon-twitter-on.png") no-repeat;
  background-color: #2fbbed;
}

.pinterest:hover {
  background: url("../img/header/icon-pinterest-on.png") no-repeat;
  background-color: #d94348;
}

.behance:hover {
  background: url("../img/header/icon-behance-on.png") no-repeat;
  background-color: #3079ff;
}

.dribbble:hover {
  background: url("../img/header/icon-dribbble-on.png") no-repeat;
  background-color: #eb6397;
}

.icon__position:hover {
  background-position: center;
}

.sns__adjustment-class {
  margin-top: 11.5px;
}

.header__logo {
  height: 100px;
  font-size: 15px;
  line-height: 130px;
  background-color: white;
}

.logo__reen:hover {
  opacity: 0.6;
}

.header__navigation {
  float: right;
  line-height: 100px;
  margin-right: 165px;
}

.header__navigation > li {
  margin-right: 44px;
  font-size: 15px;
}

.navigation__txt {
  color: #506a85;
  text-decoration: none;
}

.keyvisual {
  width: 100%;
  padding: 300px 0;
  background: url("../img/main/keyvisual.jpg") no-repeat center;
}

h1 {
  margin-bottom: 20px;
  font-size: 78px;
  color: white;
}

.keyvisual__text {
  margin-bottom: 50px;
  color: #a3b1bf;
  font-size: 24px;
  line-height: 35px;
}

.btn__style__common {
  padding: 15px 35px;
  font-size: 18px;
}

.btn__style {
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #00bc9c;
  box-shadow: 0 4px 0 #00a085;
  outline: 0;
}

.btn__style:active {
  transform: translateY(4px);
  transition: .3s;
  border-bottom: none;
  box-shadow: none;
}

.main__common__margin {
  padding: 120px 0;
}

h2 {
  margin-bottom: 30px;
  font-size: 44px;
}

.common__text-style {
  margin-bottom: 70px;
  font-size: 22px;
  line-height: 33px;
}

.gap__cancel {
  font-size: 0;
}

.BCR__contents__inner {
  display: inline-block;
  width: 33.33%;
}

.BCR__images {
  float: left;
  margin-right: 20px;
}

h3 {
  margin-bottom: 20px;
  font-size: 26px;
}

.BCR__contents__txt {
  line-height: 25px;
  overflow: auto;
  font-size: 16px;
}

.works__images__main > figcaption {
  display: table-cell;
  width: 570px;
  height: 80px;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  vertical-align: middle;
  background-color: white;
}

.works__images__main > figcaption:first-line {
  font-size: 20px;
}

.works__images__main:hover figcaption:first-line {
  color: #00bc9c;
}

.works__contents {
  margin-bottom: 80px;
}

.works__images__main {
  display: inline-block;
  width: 570px;
  margin-right: 30px;
}

div.cancel__margin__bottom > div:last-of-type {
  margin-bottom: 0;
}

div.cancel__margin__right > :last-of-type {
  margin-right: 0;
}

.works__imgs__style {
  position: relative;
  background-color: #00bc9c;
}

.overlay__style {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  text-align: center;
  font-size: 16px;
  color: white;
  opacity: 0;
}

.overlay__contents:hover .overlay__imgs {
  opacity: 0.1;
}

.overlay__contents:hover .overlay__style {
  opacity: 1;
}

.main__img__size {
  width: 570px;
  height: 390px;
}

.works__images__sub {
  display: inline-block;
  width: 270px;
  margin-right: 30px;
}

.sub__img__size {
  width: 270px;
  height: 185px;
}

footer {
  font-size: 14px;
  color: #a3b1bf;
}

.footer__content__wrap {
  position: relative;
  padding: 75px 0;
  background: #354859;
}

.footer__content__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
  font-size: 14px;
}

h4 {
  margin-bottom: 30px;
  font-size: 16px;
  color: white;
}

.footer__content__text {
  line-height: 21px;
  letter-spacing: .2px;
  margin: 20px 0;
}

.footer__images__style {
  position: relative;
  display: inline-block;
  background-color: #00bc9c;
  vertical-align: bottom;
  margin-right: 5px;
}

.footer__images__size {
  width: 125px;
  height: 85px;
}

.footer__images {
  margin-bottom: 5px;
}

.footer__icon {
  display: inline-block;
  margin-right: 5px;
}

.footer__icon__text {
  display: inline-block;
}

.footer__address {
  margin-right: 23px;
  height: 23px;
  vertical-align: middle;
}

.footer__address__txt {
  line-height: 30px;
}

.footer__address__img {
  display: inline-block;
  margin-right: 7px;
  vertical-align: middle;
}

.icon-address:hover {
  background: url("../img/footer/icon-address-on.png") no-repeat;
}

.icon-tel:hover {
  background: url("../img/footer/icon-tel-on.png") no-repeat;
}

.icon-mail:hover {
  background: url("../img/footer/icon-mail-on.png") no-repeat;
}

.footer__address:hover {
  background-color: transparent;
  background-position-y: 9.5px;
}

.footer__form {
  width: 157px;
  height: 25px;
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: rgba(93,110,125,0.3);
}

input::-webkit-input-placeholder {
  font-size: 14px;
  color: rgb(169.175.175);
}

.footer-btn__wrap {
  position: relative;
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 0 4px 4px 0;
  background-color: rgba(93,110,125,0.3);
  top: -35px;
  left: 167px;
}

.footer-btn {
  padding: 4px 9px;
  margin-top: 3px;
  font-size: 14px;
}

.footer__bottom__wrap {
  position: relative;
  background: #2e3d4c;
  padding: 30px 0;
}

.footer__navigation {
  float: right;
  margin-top: -14px;
}

.footer__nav__txt {
  margin-left: 3.5px;
  color: #a3b1bf;
  text-decoration: none;
}